<div class="row">
    <div class="col-md-12">
        <br>
        <hr>
    </div>
</div>



<div class="row">
    <div class="col-md-8 footer-text">
        Для замовлення фотосесії телефонуйте по номеру: <strong class="label label-default">063-569-43-67</strong>
    </div>
    <div class="col-md-4">
        <div class="pull-right">&copy; Nekrasova Valintyna 2016</div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <br>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter37497230 = new Ya.Metrika({
                            id:37497230,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/37497230" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <script type="text/javascript">
            var ZCallbackWidgetLinkId  = 'b00d297a8e2b04e727c1fd8ee33894f6';
            var ZCallbackWidgetDomain  = 'my.zadarma.com';
            (function() {
                var lt = document.createElement('script');
                lt.type ='text/javascript';
                lt.charset = 'utf-8';
                lt.async = true;
                lt.src = 'https://' + ZCallbackWidgetDomain + '/callbackWidget/js/main.min.js?unq='+Math.floor(Math.random(0,1000)*1000);
                var sc = document.getElementsByTagName('script')[0];
                if (sc) sc.parentNode.insertBefore(lt, sc);
                else document.documentElement.firstChild.appendChild(lt);
            })();
        </script>
    </div>
</div>
