<div class="row">
    <div class="col-md-12">
        <br>
        <hr>
    </div>
</div>



<div class="row">
    <div class="col-md-8 footer-text">
        Для замовлення фотосесії телефонуйте по номеру: <strong class="label label-default">063-569-43-67</strong>
    </div>
    <div class="col-md-4">
        <div class="pull-right">&copy; Nekrasova Valintyna 2016</div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <br>

    </div>
</div>
