<script src="https://js.pusher.com/3.1/pusher.min.js"></script>
<div class="row">
    <div class="col-md-3">
        <a titile="Валентина Некрасова сімейний фотограф у м. Львів" class="title_link" href="{{ path("home_page") }}"><h1 class="title">Некрасова Валентина<br> <span>Family photographer in the Lviv</span></h1></a>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="contact">
                    <span class="glyphicon glyphicon-phone"></span> 063-569-43-67
                    <div>телефонуйте для замовлення фотосесії</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="top-menu pagination-centered text-center">
            {{ render(controller("AppBundle:Post:getMenu")) }}
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
            <div class="col-md-offset-8 col-md-4 hidden-xs hidden-sm">
                <img class="pull-right" width="65px"  src="/images/rsz_lviv_logo.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-5 col-md-7">
                <!--<a href="mailto='nekrasova.valintyna@gmail.com'"><img class="social pull-right" src="/images/social/email.png"></a>-->
                <a href="http://vk.com/nekrasovavalya"><img class="social pull-right" src="/images/social/vk.png"></a>
                <a href="https://www.instagram.com/valya_nekrasova_photographer/"><img class="social pull-right" src="/images/social/instagram.png"></a>


            </div>
        </div>


    </div>
</div>