.navbar-brand img {
    margin-top: -15px;
    width: 50px;
    opacity: .5;
}

.navbar-brand img:hover {
    opacity: .8;
}

.top-menu {
    margin-top: 35px;
}
.top-menu a {
    color:#000;
}

#gallery {
    margin-top:50px;
}

.navbar *:focus {
    outline: none;
}

.title {
    font-size:26px;
    font-family: 'Playfair Display SC', serif;
    margin-top: 35px;

}

.title_link{
    text-decoration: none !important;
    color: #222222 !important;
}

.title span {
    display: inline-block;
    font-size:13px;
    color:#fff;
    padding:7.5px;
    border-radius: 2px;
    font-family: 'Playfair Display SC', serif;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    background: rgba(170,21,32, 1);

}

.label-default {
    background: rgba(170,21,32, 1);
}

.top-menu li a{
    font-family: 'Playfair Display SC', serif;
}

.top-menu li a:hover{
    font-family: 'Playfair Display SC', serif;
    background: #D32128 ;
    color:#fff;
    border: none;
}

.img-thumbnail {
    border-color: #CB6B72  ;
    background-color: #D1858C ;
}

.img-thumbnail:hover {
    border-color: #CB6B72  ;
    background-color: rgba(170,21,32, 1) ;
}

@keyframes pulse {
    0%, 100% {
        background-color: #CB6B72;
    }
    50% {
        background-color: #CB6B72 ;
    }
}

#bs-navbar-collapse-1 ul li.active aaa {
    animation:
            pulse 3s ease infinite alternate;
}

#bs-navbar-collapse-1 ul li.active a {
    background: #999999;
    color:#fff;
    border-radius:7px;
}
.social {
    width:35px;
    padding:5px;
}

.contact {
    font-size:20px;
    margin-top: 37px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.contact div{
    font-size: 14px;
}

body{
    background: url('/images/wood2.png');
    background-attachment: fixed;

}

.container-fluid {
    background:rgba(240,240,240, .2);
}

.footer-text strong{
    font-size: 18px;
}

hr {
    background: url('/images/fancy-line.png') no-repeat center !important;
    height: 50px !important;
    border : 0;
    margin : 1em 0;
}
.post-h1{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

#gallery{
    text-align: center;
}

#gallery img:hover{
    opacity: 0.8;
}
