{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <h1>Header / web page name</h1>
    </div>
    <div class="col-md-4">
        <div class="contact">067-599-20-58</div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div style="height:40px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'GalleryBundle:Default:menu.html.twig' with {'categories': categories} %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div></div>
        </div>
    </div>
{% endblock %}
